{% load static %}

<div class="card mb-3">
    <div class="card-body row">
        <div class="col-2 border-end">
            <img src="{% static answer.profile.avatar %}" class="img-thumbnail" alt="...">
            <div class="d-flex align-items-center">
                <span class="text-truncate col-7 me-2">{{ answer.profile.nickname }}</span>
                <button type="button" class="btn btn-outline-danger rounded-pill mt-1">
                    <span>Like</span>
                    <span class="badge bg-danger bg-opacity-25 text-danger ...">{{ answer.likes_kol }}</span>
                </button>
            </div>
        </div>
        <div class="col">
            <p class="card-text"> {{ answer.text }} </p>
            <div class="form-check d-flex align-items-center">
                <input type="checkbox" class="form-check-input mb-1" id="correct" {% if answer.correct %} checked {% endif %}>
                <label class="form-check-label ms-2" for="correct">Correct!</label>
            </div>
            <p class="card-text"><small class="text-body-secondary">Posted {{ answer.posted }}</small></p>
        </div>
    </div>
</div>