{% load static %}

<div class="card mb-3">
    <div class="card-body row">
        <div class="col-2 border-end">
            <img src="{% static "/img/PELMEN.PNG" %}" class="img-thumbnail" alt="...">
            <div class="d-flex flex-row-reverse">
                <button type="button" class="btn btn-outline-danger rounded-pill mt-1">
                    <span>Like</span>
                    <span class="badge bg-danger bg-opacity-25 text-danger ...">0</span>
                </button>
            </div>
        </div>
        <div class="col">
            <p class="card-text">
                Прежде всего курс на социально-ориентированный национальный проект обеспечивает актуальность укрепления демократической системы.
            </p>
            <div class="form-check d-flex align-items-center">
                <input type="checkbox" class="form-check-input mb-1" id="correct">
                <label class="form-check-label ms-2" for="correct">Correct!</label>
            </div>
            <p class="card-text"><small class="text-body-secondary">Posted 3 mins ago</small></p>
        </div>
    </div>
</div>