{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Listing</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" href="{% static "/css/bootstrap.css" %}">
	<script src="{% static "/js/bootstrap.js" %}"></script>
</head>
<body class="m-0">
	<nav class="navbar navbar-expand-lg navbar-dark bg-info">
		<div class="container-fluid d-flex justify-content-between">
			<div class="navbar-brand ms-3" href="{% url "index" %}"> RUQuesT</div>
			<ul class="navbar-nav mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{% url "index" %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url "ask" %}">Ask</a>
				</li>
			</ul>

			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-danger" type="submit">Search</button>
			</form>
			<div class="d-flex align-items-center">
				<div class="me-3 ">
					<img width="50px" src="{% static profile.avatar %}" class="img-thumbnail" alt="...">
				</div>
				<div class="content" style="max-width: 35%">
					<div class="content_name text-truncate">{{ profile.nickname }}</div>
					<div class="content_links">
						<a href="{% url "settings" %}">Settings</a>
						<a href="{% url "login" %}">Log out</a>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<main class="container-fluid d-flex">

		<div class="col">
			{% block content %}
            {% endblock %}
		</div>

		<aside class="col-2 vh-100">
			{% include "layouts/tags.html" %}
			{% include "layouts/nicks.html" %}
		</aside>
	</main>
</body>
</html>