{% load static %}

<div class="card mb-3">
    <div class="card-body row">
        <div class="col-2 border-end">
            <img src="{% static question.profile.avatar %}" class="img-thumbnail m-3 ms-0" alt="...">
            <div class="d-flex align-items-center">
                <span class="text-truncate col-7 me-2">{{ question.profile.nickname }}</span>
                <button type="button" class="btn btn-outline-danger rounded-pill mt-1">
                    <span>Like</span>
                    <span class="badge bg-danger bg-opacity-25 text-danger ...">{{ question.likes_kol }}</span>
                </button>
            </div>
        </div>
        <div class="col">
            <h5 class="card-title">{{ question.title }}</h5>
            <p class="card-text">{{ question.text }}</p>
            <br>
            <div class="row">
                <div class="col">
                    <a href="{% url "question" question.id %}" class="btn btn-primary ">Answers</a>
                </div>
                <div class="col align-items-center gap-10">
                    <span>Tags:</span>
                    {% for tag in question.tags.all %}
                        <span class="badge rounded-pill bg-secondary">
                            <a href="{%  url "tag" tag.title %}" class="text-white">{{ tag.title }}</a>
                        </span>
                    {% endfor %}
                </div>
            </div>
            <p class="card-text"><small class="text-body-secondary">Last updated {{ question.posted }}</small></p>
        </div>
    </div>
</div>