{% extends "layouts/base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
    <div class="container col-12 col-md-8">
        <div class="registration-card bg-white p-4 p-md-5">
            <h2 class="text-center mb-4">Авторизация</h2>
            <form action="" method="POST">
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary w-100">Войти</button>
                {% endbuttons %}
            </form>

            <p class="text-center mt-3">
                Еще нет аккаунта? <a href="{% url "signup" %}" class="text-decoration-none">Зарегистрироваться</a>
            </p>
        </div>
    </div>
{% endblock %}